Django==5.0
django-debug-toolbar==4.3.0
django-split-settings==1.2.0
gunicorn==21.2.0
uvicorn==0.29.0
mypy==1.8.0
mypy-extensions==1.0.0
python-dotenv==1.0.1
requests==2.32.3
celery[rabbitmq]
django-celery-beat
django_celery_results
flake8==6.1.0
flake8-string-format
flake8-print
psycopg2-binary==2.9.9
django-storages[boto3]
boto3
pika